.categories {
  margin: 3rem 0;

  &__h2 {
    @include h2Section(title);
  }

  &__boxes {
    margin-top: 2rem;
    padding: 0 3rem;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(20rem, 1fr));
    gap: 3rem;
  }

  &__item {
    position: relative;
    overflow: hidden;
    border-radius: 0.4rem;
    display: grid;
  }

  &__img {
    transition: all 0.4s ease;
    width: 100%;
    object-fit: cover;
    height: 100%;

    &:hover {
      transform: scale(1.2);
      cursor: pointer;
    }
  }

  &__item:hover &__btn {
    background-color: rgba($primary-color, 0.9);
    color: #fff;
  }

  &__btn {
    transition: all 0.4s ease;
    position: absolute;
    width: 85%;
    left: 2rem;
    text-decoration: none;
    padding: 1.2rem;
    background-color: rgba(white, 0.9);
    color: $primary-color;
    border-radius: 0.3rem;
    bottom: 1rem;
    text-align: center;
    font-weight: map-get($font-weight, bold);
  }
}
